body {
font-family: sans-serif;

background-color: #fff;
}
#headerblock {
padding-top: 10px;
margin-bottom: 10px;
border-bottom: 1px solid black;
overflow: auto;
}
h1.colltitle {
padding: 4px;
font-size: 2em;
margin: 0px;
text-align: center;
}
span.subtitle {
margin-left: 20px;
font-size: 0.8em;
}
form {
margin: 5px 0 0 0;
float: right;
}
#searchText {
background-color: #eee;
}
input {
padding: 0;
margin: 0 0 4px 4px;
}
.button {
padding: 0;
margin: 0 0 4px 4px;
}
table, h4 {
margin-left: auto;
margin-right: auto;
}
td.groupName {
margin-top: 10px;
margin-bottom: 2px;
padding-left: 4px;
background: #ccc;
font-size: 1.1em;
font-weight: bolder;
}
th {
color: #000;
